body, html {
    
    background-color:#ffe01b;
  }
#flowers{
    width: 25vw; /* width of container */
    height: 100vh; /* height of container */
    object-fit: cover;
    object-position: 0% 10%; /* try 20px 10px */ 
    position: absolute;
    right:0;  
}
.whiteSpace{
   
    background-color: white;
    width:80vw;
    height:100%;
    
}
.form{
    display:flex;
   flex-direction: column;
   
   margin-left:15%;
   margin-right:20%;
 
}
.list{
    display:flex;
    margin-left:12.5%;
    margin-right:20%;
}
#firstList{
    margin-right:3em;
}
#email{
    width:85%;
    height: 3em;
    margin-bottom: 2em;
}
#username{
    width:85%;
    height: 3em;
    margin-bottom: 2em;
}
#password{
    width:85%;
    height: 3em;
    margin-bottom: 2em;
}
.button{
    
    margin-left:14.5%;
   margin-right:20%;
   display:flex;
   
}
.signUp{
   margin-right:5%;
}
.input{
   width: 60%;
}
/*
button color
#007c89;
*/
.disclaimer{
    margin-top:2em;
    margin-left:15%;
    margin-right:20%;
}